
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    font-size: 1rem;
    margin-right: 1rem;
  }
  h2{
    font-size: 4rem;
    font-weight: 600;
  }
  body {
    font-family: -apple-system, sans-serif;
    background-color: #ffffff;
    color: #fff;
  }
  .icons .bi-list {
    display: none;
  }
  .apple-header {
    background-color: rgb(29, 29, 31);
    padding: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  }
  .nav-links a{
  flex-grow: 1; 
  flex-shrink: 1; 
  }
  .nav-links a {
    color: #d2d2d7;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .nav-links a:hover {
    color: #fff;
  }
  
  .icons {
    display: flex;
    gap: 3rem;
    
  }
  
  .hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: relative; 
  }
  
  .hero img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .hero-section2 img{
    max-width: 50%;
  height: auto;
  }
  .hero-content {
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
.hero-section1{
  background-color: #000000;
  margin-bottom: 1rem;
}
  .hero-section2 {
    background: linear-gradient(to bottom, #091769, #ffffff);
  }
  .hero-section2 img{
    margin-top: 300px;
  }
  .hero-button{
    margin-top: 1rem;
  }
  button{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 1.6rem;
    border-radius: 2.5rem;
    margin-right: 1rem;

  }
  .read-button{
    color: #fff;
    background-color: rgb(55, 85, 255);
    
  }
  .buy-button{
    color: rgb(55, 85, 255);
    background-color: hsla(231, 100%, 61%, 0);;
    border-color: rgb(55, 85, 255);;
    border-width: 2px;
  }
  .read-button2{
    color: #000000;
    background-color: rgb(255, 255, 255);
    
  }
  .buy-button2{
    color: rgb(255, 255, 255);
    background-color: hsla(231, 100%, 61%, 0);;
    border-color: rgb(255, 255, 255);;
    border-width: 2px;
  }
  
  